<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册示例</title>
</head>
<body>
<a href="/index/Test0001">Js示例</a>
<a href="/index/Test0002">进入聊天室</a>
    缺少功能：单一登录：
    登录：
    <form action="/Users/UsersLogin" method="post">
        账号：<input type="text" value="张三" name="User_accountNumber" id="User_accountNumber"/>
        密码：<input type="text" value="123456" name="User_password" id="User_password"/>
        <input type="submit" value="提交">
    </form><br/>
    <input type="submit" value="WebSocket测试实例" onclick="openWebSocket('张三')"><br/>
    注册：
    <form action="/Users/UsersAdd" method="post">
        账号：<input type="text" value="张三" name="User_accountNumber"/>
        密码：<input type="text" value="123456" name="User_password"/>
        <input type="submit" value="提交">
    </form>
</body>
</html>