<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Hongdi Blog</title>
</head>
<body>
    Welcome to Hongdi Blog
    <form action="/Users/UsersLogin" method="post">
        账号：<input type="text" value="张三" name="User_accountNumber"/>
        密码：<input type="text" value="123456" name="User_password"/>
        <input type="submit" value="提交">
    </form><br/>
    <form action="/Users/UsersAdd" method="post">
        账号：<input type="text" value="张三" name="User_accountNumber"/>
        密码：<input type="text" value="123456" name="User_password"/>
        <input type="submit" value="提交">
    </form>
</body>
</html>