<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>WebSocket示例：在线聊天</title>
    <style type="text/css">
        #msg-view{
            height: 300px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<div id="msg-view"></div><!--窗口-->
<div id="msg-input">
    <input id="msg" type="text"/><!--输入框-->
    <button id="sendBtn" onclick="sendMsg()">发送</button>
</div>
<script>
    var websocket;
    if(typeof(WebSocket) == undefined) {
        console.log("您的浏览器不支持WebSocket");
    }else{
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        websocket = new WebSocket("ws://127.0.0.1:8010/sunSocket");
    }
    //窗口关闭则关闭Socket
    window.onunload = function(){
        websocket.close();
    };

    //WebSocket获得消息事件onmessage
    websocket.onmessage = function (event) {
        var data = event.data;
        if(typeof(data) == 'string'){
            showMsg(data)
        }else{
            showMsg(data.ip + ':' + data.msg)
        }
    }

    //发生了错误事件
    websocket.onerror = function() {
        showMsg('连接异常')
    };

    //将值传给后台
    function sendMsg() {
        var msg = document.getElementById('msg').value;
        websocket.send(msg)
    }

    //将内容显示到msg-view里面
    function showMsg(msg) {
        document.getElementById('msg-view').innerHTML += msg + '<br/>';
    }
</script>
</body>
</html>