<!DOCTYPE html><!--<!DOCTYPE html>不是HTML标签，它是指web游览器使用哪个HTML版本进行编写的指令 -->
<html lang="en"><!--向搜索引擎表示该页面是Html语言，并且语言为英文网站，en表示english,中文页面为：zh-->
<head><!--头部文件-->
    <meta charset="UTF-8"><!--文本类型-->
    <title>JavaScprit学习</title><!--标题-->
    <script src="/js/index.js"></script><!--引入外部js文件-->
</head>
<body><!--body主体部分-->
<input type="button" onclick="Dates()" value="动态文件：显示日期" id="Dates">
<img id="myimage" onclick="changeImage(this)" src="/img/pic_bulboff.gif" width="100" height="180">

<img src="/img/pic_bulboff.gif" width="100" height="100" onclick="testdd(this)">
<div id="ImagesShows" style="position: absolute;top:0px;left: 0px;width: 100%;"></div>


<!--
JavaScript 显示数据
JavaScript 可以通过不同的方式来输出数据：

使用 window.alert() 弹出警告框。
使用 document.write() 方法将内容写到 HTML 文档中。
使用 innerHTML 写入到 HTML 元素。
使用 console.log() 写入到浏览器的控制台。
-->

</body>
</html>